@import 'tailwindcss';

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;

  --color-*: initial;
  --color-transparent: transparent;
  --color-background-neutral-default: hsl(0 0% 96%);
  --color-background-neutral-strong: hsl(0 0% 80%);
  --color-background-neutral-subtle: hsl(0 0% 88%);
  --color-background-neutral-faded: hsl(0 0% 92%);
  --color-background-neutral-inverse: hsl(0 0% 4%);
  --color-background-brand-default: hsl(30 40% 80%);
  --color-foreground-neutral-default: hsl(0 0% 4%);
  --color-foreground-neutral-strong: hsl(0 0% 12%);
  --color-foreground-neutral-subtle: hsl(0 0% 24%);
  --color-foreground-neutral-faded: hsl(0 0% 32%);
  --color-foreground-neutral-inverse: hsl(0 0% 96%);
  --color-border-neutral-default: hsl(0 0% 80%);
  --color-border-neutral-strong: hsl(0 0% 64%);
  --color-border-neutral-subtle: hsl(0 0% 88%);
  --color-border-neutral-faded: hsl(0 0% 92%);
  --color-border-neutral-inverse: hsl(0 0% 4%);

  --font-*: initial;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-*: initial;
  --text-body-small: 12px;
  --text-body-small--line-height: 18px;
  --text-body-medium: 14px;
  --text-body-medium--line-height: 22px;
  --text-body-large: 16px;
  --text-body-large--line-height: 26px;
  --text-title-small: 18px;
  --text-title-small--line-height: 28px;
  --text-title-medium: 20px;
  --text-title-medium--line-height: 30px;
  --text-title-large: 24px;
  --text-title-large--line-height: 32px;
  --text-display-small: 32px;
  --text-display-small--line-height: 40px;
  --text-display-small--letter-spacing: -0.01em;
  --text-display-medium: 40px;
  --text-display-medium--line-height: 48px;
  --text-display-medium--letter-spacing: -0.02em;
  --text-display-large: 48px;
  --text-display-large--line-height: 56px;
  --text-display-large--letter-spacing: -0.03em;
}
